/* Create new class participation box. */

.hidden, .form-item-unique-form-id-value {
    display: none;
}

.control-center-list-page-by-author a:link, #print-button, #csv-button {
  color: #3d5f71;
}

.course-total-grade-left-column {
  padding-left: 5px;
}
.discussion-name-totals, .course-total-grade {
    width: 17%;
}

#error-message {
    padding-top: 15px;
    color: #c00;
}

.group-peer-review-select-label {
    margin-left: 20px;
}

.lg-row .username-wrapper {
    float: none;
}

.lg-image-hover {
    float: left;
    position: relative;
}

.view-all-sessions-text, .view-group-sessions-text, .view-individual-sessions-text {
    font-style: italic;
    padding-top: 5px;

}
.group-list-title {
    background: #5D7F91;
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

.lg-row {
    display: none;
    background: #fff;
    width: 250px;
    position: absolute;
    top: -15px;
    border: 5px solid #5D7F91;
    z-index: 99;
}

.report-types {
    font-weight: 550;
    background-color: #D9D6CB;
    padding: 5px 0px 5px 5px;
}

.report-type:first-of-type {
    border-right: solid;
    padding-right: 10px;
}
.report-type {
    padding-left: 10px;
    cursor: pointer;
}
.underlined {
    text-decoration:  underline;
}


#class-participation-selector {
    margin-right: 20px;
    margin-left: 11px;
    max-width: 90%;
}

.count-hidden {
    float: left;
}

.view-session-type {
    margin-top: 15px;
}

.lg-image {
    background-image: url('users-lg.png');
    background-repeat: no-repeat;
}

#cp-goto-button, #cp-edit-config-button {
    font-family: 'PT Sans', sans;
    font-size: 12px;
    color: #f2f2f2;
    background-color: #ce9c29;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.8);
    border: 1px solid #AF9431;
    -webkit-box-shadow: 0 2px 2px;
    box-shadow: 0 2px 2px;
    margin: 0;
    padding: .3em;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-family: 'PT Sans', sans;
    font-weight: bold;
    letter-spacing: 0;
    background-size: 5px 100%;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -moz-linear-gradient(top, #e3ae34, #e3ae34 44%, #bf8f21 100%);
    background-image: -ms-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -o-linear-gradient(top, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
    text-decoration: none;
    margin-left: 11px;
}

.cp-list-page-button {
    font-family: 'PT Sans', sans;
    font-size: 12px;
    color: #f2f2f2;
    background-color: #6096C5;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.8);
    border: 1px solid #6096C5;
    -webkit-box-shadow: 0 2px 2px;
    box-shadow: 0 2px 2px;
    margin: 0;
    padding: .3em;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-family: 'PT Sans', sans;
    font-weight: bold;
    letter-spacing: 0;
    background-size: 5px 100%;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #6096C5, #6096C5 44%, #6096C5 100%);
    background-image: -moz-linear-gradient(top, #6096C5, #6096C5 44%, #6096C5 100%);
    background-image: -ms-linear-gradient(top, #6096C5, #6096C5 44%, #6096C5 100%);
    background-image: -o-linear-gradient(top, #6096C5 0%, #6096C5 44%, #6096C5 100%);
    text-decoration: none;
    margin-right: 20px;
}

.cp-list-page-button-selected {
    font-family: 'PT Sans', sans;
    font-size: 12px;
    color: #f2f2f2;
    background-color: #CBCBCB;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.8);
    border: 1px solid #CBCBCB;
    -webkit-box-shadow: 0 2px 2px;
    box-shadow: 0 2px 2px;
    margin: 0;
    padding: .3em;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-family: 'PT Sans', sans;
    font-weight: bold;
    letter-spacing: 0;
    background-size: 5px 100%;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #CBCBCB, #CBCBCB 44%, #CBCBCB 100%);
    background-image: -moz-linear-gradient(top, #CBCBCB, #CBCBCB 44%, #CBCBCB 100%);
    background-image: -ms-linear-gradient(top, #CBCBCB, #CBCBCB 44%, #CBCBCB 100%);
    background-image: -o-linear-gradient(top, #CBCBCB 0%, #CBCBCB 44%, #CBCBCB 100%);
    text-decoration: none;
    margin-right: 20px;
}

.fake-data-table.student-display .discussion-lgname {
  width: 22%;
  padding-left: 5px;
}

#edit-submit {
    margin-right: 20px;
    clear: both;
}

.form-type-textfield {

}

/* gets rid of the 2nd sidebar. */
.sidebar-second #content {
    float: left;
    width: 100% !important;
    margin-left: 0%;
    margin-right: -68%;
}

#edit-learning-group-or-individual {
    padding-bottom: 15px;
}

.group-peer-review-select-label {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    right: 7px;
    margin-bottom: 5px;
}
.gpr-survey-select-wrapper {
    float: left;
    margin-right: 30px;
}
#group-peer-review-select-survey {
    display: block;
}
.gpr-end-float {
    clear: both;
}
#gpr-survey-create-inputs {
    /*display: none;*/
    padding: 20px;
}
label[for=gpr-survey-inputs-label] {
    display: inline-block;
    width: 85px;
    font-size: 14px;
}
.gpr-survey-inputs input, #edit-title-value, #edit-minimum-value, #edit-maximum-value, #edit-initial-value, #edit-date-value {
    border: 5px solid white;
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    padding: 8px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#class-participation-custom-form-config2 label {
    font-weight: bold;
    font-size: 14px;
    text-transform: none;
}

#class-participation-custom-form-config2 {
    display: none;
}
.fuse-button .button {
    margin: 10px;
}
#gpr-create-survey-box-close {
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    text-align: right;
}
#class-participation-custom-form-config2 {
    margin: 10px;
    border: 3px dotted #CCC;
    background-color: #E5E4E4;
    -moz-box-shadow: 3px 3px 5px 6px #D8D6D6;
    -webkit-box-shadow: 3px 3px 5px 6px #D8D6D6;
    box-shadow: 3px 3px 5px 6px #D8D6D6;
    max-width: 420px;
    width: 80%;
    padding: 20px;
}

#gpr-survey-create-inputs {

}

    /*----------------------------------------------------------------------------*/


#class-participation-custom-form .sliderfield-bubble {
  margin-top: 9px;
  font-size: 9px;
}

.form-item-comment1 {

}

.sliderfield {
  float: left;
}

#tableless-table2_wrapper {
    clear: both;
}

#tableless-table_wrapper {
    clear: both;
}

.sorting, .sorting_asc, .sorting_desc {
    text-align: left;
}

.form-type-slider {
    padding-right: 5px;
}

.highest-slider-num {
    clear: right;
    position: relative;
    right: 25px;
    top: 40px;
}

.paginate_disabled_next {
    padding-left: 5px;
}

.form-item-selected {
    clear: left;
    float: left;
}

.left-button, .right-button {
    float: left;
}

.right-button {
    clear: right;
}
a.button {
    background: url('../images/gc-button-background.png') repeat-x; */
    background-color: #ce9c29;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.8);
    border: 1px solid #AF9431;
    -webkit-box-shadow: 0 2px 2px;
    box-shadow: 0 2px 2px;
    margin: 0;
    padding: .3em;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    color: #f2fef2;
    font-family: 'PT Sans', sans;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 1.2rem;
    background-size: 5px 100%;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -moz-linear-gradient(top, #e3ae34, #e3ae34 44%, #bf8f21 100%);
    background-image: -ms-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -o-linear-gradient(top, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
    text-decoration: none;
}

.form-submit {
    background: url('../images/gc-button-background.png') repeat-x; */
background-color: #ce9c29;
border-radius: 4px;
-moz-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.8);
border: 1px solid #AF9431;
-webkit-box-shadow: 0 2px 2px;
box-shadow: 0 2px 2px;
margin: 0;
padding: .3em;
font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
color: #f2fef2;
font-family: 'PT Sans', sans;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0;
font-size: 1.2rem;
background-size: 5px 100%;
background-repeat: repeat-x;
background-image: -webkit-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
background-image: -moz-linear-gradient(top, #e3ae34, #e3ae34 44%, #bf8f21 100%);
background-image: -ms-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
background-image: -o-linear-gradient(top, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
text-decoration: none;
}

#access-to-results {
    padding: 5px 5px 15px 15px;
}

#close-button {
    float: right;
    position: relative;
    top: 20px;
}

#class-participation-custom-form-config {
  border-top: none;
  padding: 10px 10px 10px 10px;
  margin-top: -7px;
  margin-bottom: 20px;
}

#edit-title-value2 {
  padding-left: 10px;
}

.cp-link {
    padding-bottom: 20px;
    padding-right: 10px;
    position: relative;
    top: 20px;
    float:left;
}

.cp-link2 {
    padding-bottom: 20px;
}

.cp-link-list-page {
    float: left;
    padding-bottom: 20px;
    padding-right: 50px;
}

#content {
    padding-bottom: 20px;
}

#edit-submit {
    margin-top: 20px;
}

.menu-item-cp {
    float: left;
    padding-right: 10px;
}

.menu-item-cp-last {
    max-width: 200px;
    padding: 50px 0px 20px 0px;
}

.menu-item-cp-last2 {
  padding-bottom: 20px;

}

.individual-grades, .learning-group-grades {
    padding: 0px 0px 30px 0px;

}

.individual-grades .even {
   /* padding-right: 30px;*/
}

.individual-grades .odd {
    /* background-color: #e8e8e8;*/
    /*padding-right: 30px;*/
}

.menu-item-cp2 {
    float: left;
    max-width: 500px;
    padding-right: 20px;
}

.tableless-table.member-td {
    float: left;
}

.primary-button-cp {
    font-size: 14px;
    font-size: 1rem;
    font-weight: 100;
    padding: 12px 16px;
    padding: .5rem .75rem;
    text-shadow: 1px 1px 1px #9C832B;
    border: 1px solid #AF9431;
    background-color: #ce9c29;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3ae34), color-stop(0.4, #e3ae34), to(#bf8f21));
    background-image: -webkit-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -moz-linear-gradient(top, #e3ae34, #e3ae34 44%, #bf8f21 100%);
    background-image: -ms-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -o-linear-gradient(top, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
    background-image: linear-gradient(to bottom, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
    border-left: none;
    max-width: 200px;
    min-width: 200px;
}

.form-item-previous-date-jump-menu {
  float: left;
}

.form-item-date {
  float: left;
  max-width: 200px;

}

.top-menu-item-cp2 {
    padding-top: 20px;
    padding-bottom: 20px;

    margin-bottom: 20px;
}

#grade-listing-type {
    float: left;
    margin-top: 2px;
}

.form-item-learning-group-or-individual {
  padding-right: 15px;
}

.menu-item-row {
    height: 30px;
    padding: 25px 0px 100px 25px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#class-participation-custom-form .individual-grades input[type='text'] {
    width: 360px;
    margin-right: 15px;
}

.individual-grades {
    max-width: 100%;
}

.menu-item-cp-container {
    max-width: 100%;
    padding-top: 5px;
    clear: left;
}

.dataTables_length label {
    margin-bottom: 10px;
}


/*a.button .csv1, a.button.csv1 {
    float: left;
    margin-right: 55px;
    padding: 0px 7px 0px 7px;
}


a.button .csv2, a.button.csv2 {
    float: left;
    margin-right: 55px;
    padding: 0px 7px 0px 7px;
}*/

.sp-main .individual-grades input[type='text'] {
    /*width: 70%;*/
}

@media only screen
and (min-device-width : 350px)
and (max-device-width : 667px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 2)
{
    .individual-grades .ui-slider, .sliderfield-container, .sliderfield {
        position: relative;
        text-align: left;
        max-width: 72%;
        float: left;
    }
    .form-item-previous-date-jump-menu {
        clear: both;
    }
    .highest-slider-num:first-of-type {
        clear: right;
        position: relative;
        left: 240px;
        top: -70px;
    }
    .highest-slider-num {
        clear: right;
        position: relative;
        right: 40px;
        top: 42px;
    }
}

@media only screen
and (max-device-width : 667px)
and (orientation : portrait)
{
    .fake-data-table.student-display .discussion-lgname {
        width: 52%;
        padding-left: 5px;
    }
    .session-date {
        font-size: 10px;
    }
    .individual-grades .ui-slider, .sliderfield-container, .sliderfield {
        position: relative;
        text-align: left;
        max-width: 72%;
    }
    .form-item-previous-date-jump-menu {
        clear: both;
    }
    .highest-slider-num:first-of-type {
        clear: right;
        position: relative;
        left: 240px;
        top: -30px;
    }
    .highest-slider-num:first-child {
        clear: right;
        position: relative;
        left: 240px;
        top: -30px;
    }
    .highest-slider-num {
        clear: right;
        position: relative;
        left: 240px;
        top: -30px;
    }
    #class-participation-custom-form .individual-grades input[type='text'] {
        width: 90%;
    }
    #class-participation-custom-form-config2 input[type='text'] {
        width: 250px;
        max-width: 90%;
    }
}

/*@media only screen and (max-device-width: 540px),
all and (max-width: 540px) {*//*S4 Galaxy screen width */
@media only screen and (max-device-width: 720px),
all and (max-width: 720px) {
    .individual-grades .ui-slider, .sliderfield-container, .sliderfield {
        position: relative;
        text-align: left;
        max-width: 72%;
    }
    .form-item-previous-date-jump-menu {
        clear: both;
    }
    .highest-slider-num:first-of-type {
        clear: right;
        position: relative;
        left: 240px;
        top: -30px;
    }
    .highest-slider-num:first-of-type, .highest-slider-num:nth-of-type(1) {
        clear: right;
        position: relative;
        left: 240px;
        top: -30px;
    }
    .highest-slider-num {
        clear: right;
        position: relative;
        left: 240px;
        top: -30px;
    }
}