/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* @import ribbon.scss; */
/* CSS Document */
/*
For styles that apply only to the Grade Center

TODO:  This file is just a copy from gradecenter.css with modifications, not all styles are used.

Table of contents:
0.) Admin styles - to be removed before moving to production.
1.) Peer Review Form
2.) Peer Review Reports
3.) Grade Center Fourm Summary
*/
/*  ====================================   */
/*** Combined Page Styling ***/
/* line 15, ../sass/_gradecenter-sass.scss */

.control-center-list-page-by-author {
    margin-top: 25px;
    background-color: #e8e8e8;
    padding: 1em .5em;
    margin-bottom: 2em;
}

.control-center-list-page-by-author a:link, #print-button, #csv-button {
    color: #f2f2f2;
    font-size: 12px;
}

.session-date {
  float: right;
  padding-right: 20px;
}

.session-title {
    clear: both;

}

.student-controls {
    padding: 10px 10px 25px 0px;
}

.total-individual-grade,
.total-student-individual-grade,
.total-group-grade,
.total-student-group-grade {
  display: none;
}

/* line 21, ../sass/_gradecenter-sass.scss */
#gradecenter-button-message {
  margin: 5px 0;
}

/* line 24, ../sass/_gradecenter-sass.scss */
#gradecenter-topic-title {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: bold;
  color: #4D6F81;
}

/* line 30, ../sass/_gradecenter-sass.scss */
#gradecenter-topic-title .subtitle {
  color: #7D9Fb1;
}

/*
  Admin styles.
  Remove default module styling
*/
/* line 38, ../sass/_gradecenter-sass.scss */
#student-info {
  font-size: 18px;
  color: #006744;
  float: left;
}

/* line 43, ../sass/_gradecenter-sass.scss */
td.active {
  background-color: inherit;
}

/* line 47, ../sass/_gradecenter-sass.scss */
.fake-table {
  display: inline-block;
}

.whole-table-wrapper {
    margin-top: 50px;
    clear: both;
}

/*** Gradecenter Student Display Styling ***/
/* line 51, ../sass/_gradecenter-sass.scss */
.fake-table-wrapper {
  margin-bottom: 20px;
  border: 2px solid #BBBBBB;
}
/* line 54, ../sass/_gradecenter-sass.scss */
.fake-table-wrapper .fake-table-name {
  color: #3d5f71;
  font-size: 21px;
  padding: 4px 0 0 5px;
  background-color: #D9D6CB;
}

/* line 62, ../sass/_gradecenter-sass.scss */
.fake-data-table {
  width: 100%;
}
/* line 64, ../sass/_gradecenter-sass.scss */
.fake-data-table .fake-thead {
  color: #4d6f81;
  font-weight: bold;
  line-height: 16px;
  padding: 5px 0;
  border-bottom: 1px solid #BBBBBB;
}
/* line 71, ../sass/_gradecenter-sass.scss */
.fake-data-table .even, .fake-data-table .odd {
  padding: .75% 0;
}
/* line 73, ../sass/_gradecenter-sass.scss */
.fake-data-table .even:last-child, .fake-data-table .odd:last-child {
  border-bottom: 1px solid #BBBBBB;
}
/* line 75, ../sass/_gradecenter-sass.scss */
.fake-data-table .odd {
  background-color: #e8e8e8;
}
/* line 77, ../sass/_gradecenter-sass.scss */
.fake-data-table.student-display .discussion-name {
  width: 22%;
  padding-left: 5px;
}
/* line 81, ../sass/_gradecenter-sass.scss */
.fake-data-table.student-display .grade-data {
  width: 20%;
  text-align: center;
}
/* line 87, ../sass/_gradecenter-sass.scss */
.fake-data-table.topic-display .release-date {
  width: 15%;
  padding-left: 5px;
}
/* line 91, ../sass/_gradecenter-sass.scss */
.fake-data-table.topic-display .discussion-name {
  width: 25%;
}
/* line 92, ../sass/_gradecenter-sass.scss */
.fake-data-table.topic-display .total-replies {
  width: 11%;
}
/* line 93, ../sass/_gradecenter-sass.scss */
.fake-data-table.topic-display .last-reply {
  width: 24%;
}
/* line 94, ../sass/_gradecenter-sass.scss */
.fake-data-table.topic-display .unread-replies {
  width: 11%;
}
/* line 95, ../sass/_gradecenter-sass.scss */
.fake-data-table.topic-display .grade-discussion {
  width: 12%;
}

/* line 101, ../sass/_gradecenter-sass.scss */
#data-table-prr th.peer-review-special {
  background-color: inherit;
  background-color: #e8efe5;
  border-left: inherit;
  border-left: 1px solid #fff;
}
/* line 107, ../sass/_gradecenter-sass.scss */
#data-table-prr td.prr-full-name {
  background-color: #e8efe5;
}
/* line 110, ../sass/_gradecenter-sass.scss */
#data-table-prr tr.odd td.peer-review-special,
#data-table-prr tr.odd td.prr-full-name {
  background-color: #d3d9d1;
}
/* line 114, ../sass/_gradecenter-sass.scss */
#data-table-prr td.peer-review-special strong {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}
/* line 120, ../sass/_gradecenter-sass.scss */
#data-table-prr table#data-table-me .peer-review-special,
#data-table-prr .peer-review-special {
  border: inherit;
}

/*  ====================================   */
/*  ================================================  */
/*  PEER REVIEW FORM  */
/*	--------------------------------------	*/
/* 	forms the checkboxes in the learning group section into
	multiple columns */
/* line 134, ../sass/_gradecenter-sass.scss */
.form-checkboxes .form-item,
.form-radios .form-item {
  float: left;
  width: 12.5em;
  padding: .2em;
  /*
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  */
}

/* line 147, ../sass/_gradecenter-sass.scss */
#edit-learning-group-text-wrapper {
  clear: both;
  padding-top: 2em;
}

/*	--------------------------------------	*/
/*	styles for all labels that are used as heading and not as individual radio or
	checkbox options.	*/
/*#gradecenter-peer-review-form label {
	background-color: #666666;
    color: #FFFFFF;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-transform: uppercase;
}*/
/* line 164, ../sass/_gradecenter-sass.scss */
label[for=edit-learning-group-most],
label[for=edit-criticism-text] {
  background-color: #666666;
  color: #FFFFFF;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
}

/*	Undo everything above	*/
/* line 176, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form label.option {
  color: #333;
  font-size: inherit;
  letter-spacing: inherit;
  margin-bottom: inherit;
  padding: inherit;
  text-transform: inherit;
  /* fallback color */
  background: white;
  /* RGBa */
  background-color: rgba(255, 255, 255, 0);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)";
}

/* line 193, ../sass/_gradecenter-sass.scss */
.form-radios .form-item:hover {
  background-color: #eddabe;
}

/* line 197, ../sass/_gradecenter-sass.scss */
.form-radios .form-item .option {
  color: #617947;
  background-color: rgba(255, 255, 255, 0);
}

/*	--------------------------------------	*/
/*	style the legend field as a header for the fieldset.
	remove any indication of the field set	*/
/* line 205, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form fieldset {
  border: none;
  margin: 1px;
  padding: 1em;
}

/* line 210, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form fieldset.even,
#gradecenter-peer-review-form fieldset.odd {
  padding: .25em;
  border-top: 1px solid #CCCCCC;
}

/* line 216, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form legend {
  display: none;
  background: url("../images/gc-header-background-color.png") repeat-y scroll 0 0 #EEEEEE;
  border: 1px solid #6e8e71;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2857142857142857142857142857143em;
  /* 18px / 14px */
  font-weight: bold;
  padding: 0.4em;
  text-transform: capitalize;
  width: 98%;
  -moz-box-shadow: 2px 2px 4px 1px #ccc;
  -webkit-box-shadow: 2px 2px 4px 1px #ccc;
  box-shadow: 2px 2px 4px 1px #ccc;
  color: #ffffff;
  text-shadow: 1px 1px 2px #666666;
}

/* line 234, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form .description {
  margin-bottom: 1em;
  color: #666;
  font-style: italic;
}

/* line 240, ../sass/_gradecenter-sass.scss */
.peer-review-class .fieldset-wrapper .fieldset-description {
  font-size: 14px;
}

/*	---------------------------------------	*/
/*	Style the comment are where users can select students
	who they have learned the most from.	*/
/* line 247, ../sass/_gradecenter-sass.scss */
.peer-review-class .checkbox-wrapper {
  width: 20%;
  float: left;
}

/* line 252, ../sass/_gradecenter-sass.scss */
.peer-review-class .textfield-wrapper {
  display: block;
  float: right;
  width: 77%;
}

/* line 258, ../sass/_gradecenter-sass.scss */
.peer-review-class .form-text {
  width: 100%;
  background: url("../images/gc-tf-background.png") repeat-x;
  border: 1px solid #c0c0c0;
}

/* line 264, ../sass/_gradecenter-sass.scss */
.peer-review-class fieldset.odd,
.peer-review-class fieldset.even {
  /*
  background-color: #ececec;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  */
}

/* line 275, ../sass/_gradecenter-sass.scss */
.peer-review-class fieldset.odd {
  background-color: #fff;
}

/* line 279, ../sass/_gradecenter-sass.scss */
.peer-review-class fieldset.odd:hover,
.peer-review-class fieldset.even:hover {
  /*background-color: #eddabe;*/
}

/* line 284, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form .peer-review-class label.option {
  color: #617947;
  background-color: #ececec;
  margin-bottom: .5em;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.1em;
  font-weight: bold;
}

/* line 293, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form .form-checkbox {
  margin-right: .5em;
}

/* Styling for DataTables */
/* line 299, ../sass/_gradecenter-sass.scss */
button {
  margin-left: 5px;
  margin-right: 5px;
}

/*  ================================================  */
/*  SHARED STYLES  - Grade Center / Peer Review       */
/*  ------------------------------------------------  */
/* line 307, ../sass/_gradecenter-sass.scss */
#data-table-prr th,
#data-table-me th,
.sticky-header th {
  font-size: 0.83333333333333333333333333333333em;
  /* 10px / 12px */
  font-weight: bold;
  letter-spacing: .04em;
  color: #333;
  text-transform: uppercase;
}

/* line 317, ../sass/_gradecenter-sass.scss */
#data-table-me,
#data-table-prr,
.sticky-header {
  font-size: 0.85714285714285714285714285714286em;
  /* 12px / 14px */
}

/* line 323, ../sass/_gradecenter-sass.scss */
#data-table-me th,
#data-table-me td,
#data-table-prr tr,
#data-table-prr td,
.sticky-header th {
  border-left: 1px solid #fff;
}

/* line 331, ../sass/_gradecenter-sass.scss */
#data-table-prr tr,
#table-table-me tr {
  border-bottom: 1px solid #a1a1a1;
}

/* line 336, ../sass/_gradecenter-sass.scss */
#data-table-prr tr.even,
#data-table-prr tr.odd,
#data-table-me tr.even,
#data-table-me tr.odd {
  height: 2.5em;
}

/* line 343, ../sass/_gradecenter-sass.scss */
#data-table-prr tr.odd,
#data-table-me tr.odd {
  background-color: #e8e8e8;
}

/* line 348, ../sass/_gradecenter-sass.scss */
#data-table-prr tr.even,
#data-table-me tr.even {
  background-color: #ffffff;
}

/* line 353, ../sass/_gradecenter-sass.scss */
.odd-row-highlight {
  background-color: #dfd0ba !important;
}

/* line 357, ../sass/_gradecenter-sass.scss */
.even-row-highlight {
  background-color: #f5e4cc !important;
}

/* line 361, ../sass/_gradecenter-sass.scss */
.odd-row-special-highlight {
  background-color: #cbc2a7 !important;
}

/* line 365, ../sass/_gradecenter-sass.scss */
.even-row-special-highlight {
  background-color: #dfd6b7 !important;
}

/*  Column Styles ------------------------------ */
/* line 370, ../sass/_gradecenter-sass.scss */
.prr-learning-group,
.prr-recommend-class,
.prr-recommend-group,
.total-replies,
.total-points,
.average-points,
.total-thumbs-up,
.total-faculty-recommed,
.total-faculty-recommend,
.unread-replies,
th.average-reply-length
td.last-access,
.discussion-grade,
td.user-actions {
  text-align: center;
}

/* line 387, ../sass/_gradecenter-sass.scss */
td.user-actions a:link,
td.user-actions a:visited {
  color: #fff;
}

/* line 392, ../sass/_gradecenter-sass.scss */
td.average-reply-length {
  text-align: right;
  padding-right: 1em;
}

/*  Individual fixes --------------------------- */
/* line 398, ../sass/_gradecenter-sass.scss */
td.full-name,
td.discussion-name {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 404, ../sass/_gradecenter-sass.scss */
th.grade-discussion {
  width: 16%;
}

/* line 408, ../sass/_gradecenter-sass.scss */
td.grade-discussion a {
  color: #f2f3f2;
}

/* line 412, ../sass/_gradecenter-sass.scss */
th.last-reply,
th.total-faculty-recommed,
th.user-actions,
th.last-access {
  width: 13%;
}

/* line 419, ../sass/_gradecenter-sass.scss */
th.user-actions {
  width: 15%;
}

/* line 423, ../sass/_gradecenter-sass.scss */
th.release-date {
  width: 11%;
}

/* line 427, ../sass/_gradecenter-sass.scss */
td.last-access,
td.last-reply {
  font-size: .875em;
}

/* line 432, ../sass/_gradecenter-sass.scss */
td.last-reply a {
  display: block;
}

/*  =====================================  */
/*  Peer Review Report Cell-specific styles  */
/* line 438, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-th-learning-group {
  text-align: center;
}

/* line 442, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-th-who-recommend-group,
#data-table-prr .prr-th-comments {
  width: 14% !important;
  /* 140px */
}

/* line 447, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-th-recommend-class,
#data-table-prr .prr-th-who-recommend-class {
  width: 13% !important;
}

/* line 452, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-th-full-name {
  width: 19% !important;
}

/* line 456, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-th-learning-group {
  width: 6% !important;
}

/* line 460, ../sass/_gradecenter-sass.scss */
#data-table-prr .peer-review-special {
  width: 21% !important;
  /* 216px */
}

/* line 464, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-full-name {
  font-weight: bold;
  font-size: 1.1666666666666666666666666666667em;
  /* 14px / 12px */
}

/* line 469, ../sass/_gradecenter-sass.scss */
#data-table-me .full-name a.colorbox-inline,
#data-table-prr .prr-full-name a.colorbox-inline {
  text-indent: -9999px;
  background: url("../images/gc-my-reply.png") no-repeat 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: .3em;
  /*color: transparent;*/
}

/* line 480, ../sass/_gradecenter-sass.scss */
#data-table-me .full-name a.colorbox-inline:hover,
#data-table-prr .prr-full-name a.colorbox-inline:hover {
  background: url("../images/gc-my-reply-over.png") no-repeat 0 0;
}

/* line 485, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-who-recommend-class li,
#data-table-prr .prr-who-recommend-group li {
  list-style-type: none;
}

/* line 490, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-who-recommend-class a.colorbox-inline,
#data-table-prr .prr-who-recommend-group a.colorbox-inline {
  text-indent: -9999px;
  background: url("../images/gc-my-reply.png") no-repeat 0 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: .3em;
  position: relative;
  top: -1px;
  /*color: transparent;*/
}

/* line 503, ../sass/_gradecenter-sass.scss */
#data-table-prr .prr-who-recommend-class a.colorbox-inline:hover,
#data-table-prr .prr-who-recommend-group a.colorbox-inline:hover {
  background: url("../images/gc-my-reply-over.png") no-repeat 0 0;
}

/* line 508, ../sass/_gradecenter-sass.scss */
#data-table-prr tr.even td.sorting_1 {
  background-color: #cac3ce;
}

/* line 512, ../sass/_gradecenter-sass.scss */
#data-table-prr tr.odd td.sorting_1 {
  background-color: #ded7e3;
}

/* line 516, ../sass/_gradecenter-sass.scss */
#data-table-me input.discussion-grade.error,
input.discussion-grade.error {
  background-color: #F1C6C6;
  border-color: #8F0B0B;
}

/*  =====================================  */
/*  Task Bars (Control Center & Picklist Form)  */
/* line 524, ../sass/_gradecenter-sass.scss */
.control-center,
#gradecenter-student-picklist-form {
  background-color: #e8e8e8;
  padding: 1em .5em;
  margin-bottom: 2em;
  margin-top: 10px;
}
/* line 529, ../sass/_gradecenter-sass.scss */
.control-center #csv-button-grand-total-grade,
#gradecenter-student-picklist-form #csv-button-grand-total-grade {
  text-transform: uppercase;
}

/* line 535, ../sass/_gradecenter-sass.scss */
#gradecenter-student-picklist-form {
  border-top: 1em solid #999;
  margin-bottom: 1em;
}

/* line 539, ../sass/_gradecenter-sass.scss */
.button.gradecenter {
  color: #E6F3F7;
  background-color: #638493;
  border-color: #477299;
  border-radius: 0;
  background-image: none;
  text-transform: capitalize;
  font-family: sans-serif, 'museo-slab-local', 'museo-slab-external', Georgia, serif;
  font-weight: 200;
  padding-bottom: .2em;
  box-shadow: none;
}
/* line 550, ../sass/_gradecenter-sass.scss */
.button.gradecenter:hover {
  background-color: #075373;
}

/* line 554, ../sass/_gradecenter-sass.scss */
a.button.gradecenter.selected {
  background-color: #D9D6CB;
  border-color: #B5B5B5;
  color: #5d7f91;
  font-weight: 400;
}
/* line 559, ../sass/_gradecenter-sass.scss */
a.button.gradecenter.selected:hover {
  color: #AF9431;
}

/* line 564, ../sass/_gradecenter-sass.scss */
#edit-student-select-wrapper,
.next-student,
.previous-student {
  display: inline;
}

/* line 570, ../sass/_gradecenter-sass.scss */
.previous-student > a.button,
.next-student > a.button {
  color: #f2f3f2;
}

/* line 575, ../sass/_gradecenter-sass.scss */
#edit-student-select {
  float: left;
}

/* line 579, ../sass/_gradecenter-sass.scss */
#edit-student-select-wrapper label {
  display: inline;
  font-size: 0.75em;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 586, ../sass/_gradecenter-sass.scss */
#edit-student-select-wrapper select {
  font-size: .875em;
  font-family: Calibri, sans;
  margin: 0 1em 0 .5em;
  vertical-align: middle;
}

/* line 593, ../sass/_gradecenter-sass.scss */
#edit-student-select-wrapper option {
  margin: .5em 0 .5em .5em;
}

/* line 597, ../sass/_gradecenter-sass.scss */
#content-content h2 {
  display: inline-block;
  margin-bottom: 2em;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
}

/* line 605, ../sass/_gradecenter-sass.scss */
#saving-status {
  visibility: hidden;
  background-color: #DDDDDD;
  display: inline-block;
  font-size: 0.75em;
  margin-left: 1em;
  padding: 0.25em;
  text-transform: uppercase;
  position: absolute;
  left: .5%;
  width: 98%;
  margin-left: 0;
}

/* line 618, ../sass/_gradecenter-sass.scss */
#top-header #saving-status {
  width: 97%;
  margin-top: -25px;
}

/* line 622, ../sass/_gradecenter-sass.scss */
#data-table-me input {
  background-color: #fff;
  border: 1px solid #666;
  color: #333;
}

/* line 628, ../sass/_gradecenter-sass.scss */
#data-table-me input:focus,
#gradecenter-peer-review-form .required {
  background-color: #F5E4CC;
  border: 1px solid #DEA757;
  color: #B07217 !important;
}

/* line 635, ../sass/_gradecenter-sass.scss */
#gradecenter-peer-review-form .required {
  background: url("../images/gc-tf-background-over.png") repeat-x;
}

/* line 639, ../sass/_gradecenter-sass.scss */
p.gradecenter-status strong {
  background-color: #9896c0;
  color: #fff;
  text-transform: uppercase;
  padding: .25em;
}

/*  Popup Comment Info  -----------------------------  */
/* line 647, ../sass/_gradecenter-sass.scss */
#cboxLoadedContent h3 {
  background-color: #CCCCCC;
  font-size: 1.4em;
  padding: 1.5em 0.5em;
  /*text-transform: capitalize;*/
}

/* line 654, ../sass/_gradecenter-sass.scss */
#cboxLoadedContent h4 {
  background-color: #666666;
  color: #FFFFFF;
  font-size: 0.75em;
  margin: 0 0 0.5em;
  padding: 1em;
  text-transform: uppercase;
}

/* line 663, ../sass/_gradecenter-sass.scss */
#cboxLoadedContent p {
  font-weight: bold;
}

/* line 667, ../sass/_gradecenter-sass.scss */
#cboxLoadedContent .peer-review-comment {
  color: #666666;
  font-style: italic;
  font-weight: normal;
}

/* line 673, ../sass/_gradecenter-sass.scss */
#cboxLoadedContent .peer-review-comment:before {
  content: "\201C";
}

/* line 677, ../sass/_gradecenter-sass.scss */
#cboxLoadedContent .peer-review-comment:after {
  content: "\201D";
}

/* line 681, ../sass/_gradecenter-sass.scss */
.peer-review-submit-wrapper {
  margin-bottom: 20px;
}

/* Print Styles ----------------------------------  */
/* line 686, ../sass/_gradecenter-sass.scss */
.my-comments,
.my-survey,
.my-report {
  display: none;
  padding-bottom: 1em;
  margin: 2em 0 1em 0;
  border-bottom: 1px dotted #000;
}

/* line 695, ../sass/_gradecenter-sass.scss */
.my-comments h3,
.my-survey h3,
.my-report h3 {
  background: url("../images/pr-light-gray.png") #cccccc;
  font-size: 1.4em;
  padding: 1.5em 0.5em;
  text-transform: capitalize;
}

/* line 704, ../sass/_gradecenter-sass.scss */
.my-comments h4,
.my-survey h4,
.my-report h4 {
  background: url("../images/pr-dark-gray.png") #666666;
  color: #FFFFFF;
  font-size: 0.75em;
  margin: 0 0 0.5em;
  padding: 1em;
  text-transform: uppercase;
}

/* line 715, ../sass/_gradecenter-sass.scss */
.my-comments p,
.my-survey p,
.my-report p {
  font-weight: bold;
}

/* line 721, ../sass/_gradecenter-sass.scss */
.my-survey .peer-review-comment,
.my-report .peer-review-comment {
  color: #666666;
  font-style: italic;
  font-weight: normal;
}

/* line 728, ../sass/_gradecenter-sass.scss */
.my-survey .peer-review-comment:before,
.my-report .peer-review-comment:before {
  content: "\201C";
}

/* line 733, ../sass/_gradecenter-sass.scss */
.my-survey .peer-review-comment:after,
.my-report .peer-review-comment:after {
  content: "\201D";
}

/** Sticky Header Substitute **/
/* line 739, ../sass/_gradecenter-sass.scss */
.sticky-header {
  display: none;
}

/** End Sticky Header Substitute **/
/*** BEGIN Slacker Report ***/
/* line 744, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper {
  float: right;
  postion: absolute;
}
/* line 747, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper #slacker-alert-button {
  padding: 2px 5px 1px 0;
}
/* line 749, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper #slacker-alert-button svg polygon.point-right {
  display: block;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  fill: #E6F3F7;
}
/* line 756, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper #slacker-alert-button:hover svg polygon.point-right {
  fill: #fff;
}
/* line 762, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper #slacker-alert-button.expand svg line.vert-line {
  display: none;
}
/* line 763, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper #slacker-alert-button.expand svg polygon.point-right {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}
/* line 770, ../sass/_gradecenter-sass.scss */
#slacker-alert-wrapper #slacker-alert-button svg {
  margin-bottom: -3px;
}

/* line 776, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper {
  border: 1px solid #bbb;
  /*  border-top: 20px solid #bbb;*/
  position: absolute;
  right: 10px;
  padding: 5px 5px 0 5px;
  background-color: #fff;
}
/* line 783, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper.hidden {
  display: none;
}
/* line 785, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper {
  margin-bottom: 10px;
}
/* line 787, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .slacker-name-list {
  max-height: 180px;
  overflow-y: scroll;
}
/* line 791, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .slacker-title {
  color: #5d7f91;
  padding: 3px 5px;
  background-color: #D9D6CB;
}
/* line 795, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .slacker-title .slacker-day-select {
  color: #5d7f91;
  padding: 3px 5px;
  background-color: #D9D6CB;
  border: none;
}
/* line 802, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .no-comment-name {
  padding-left: 5px;
  margin: 5px 0px;
  background-color: #e5e5e5;
}
/* line 806, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .no-comment-name a {
  text-decoration: none;
}
/* line 807, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .no-comment-name .blue-mail-icon {
  float: right;
  margin: 4px 5px 0 0;
}
/* line 811, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-report-subwrapper .no-comment-name .blue-mail-icon:hover rect, #slacker-report-wrapper .slacker-report-subwrapper .no-comment-name .blue-mail-icon:hover polygon {
  fill: #075373;
}
/* line 818, ../sass/_gradecenter-sass.scss */
#slacker-report-wrapper .slacker-mail-button {
  float: right;
  line-height: 12px;
  margin-left: 5px;
}

/*** END Slacker Report ***/
@media all and (min-width: 320px) and (max-width: 959px) {
  /* line 827, ../sass/_gradecenter-sass.scss */
  .button {
    display: block;
  }

  /* line 831, ../sass/_gradecenter-sass.scss */
  #edit-student-select {
    float: none;
  }

  /** Make next item after footable expand icon not clickable **/
  /** Mobile only to allow table hidden tds to work well. **/
  /* line 837, ../sass/_gradecenter-sass.scss */
  .footable-toggle + a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }

  /* line 843, ../sass/_gradecenter-sass.scss */
  #data-table-me input.discussion-comment {
    width: 190px;
  }

  /* line 846, ../sass/_gradecenter-sass.scss */
  #data-table-me input.grade_comment {
    width: 185px;
  }
}
/* @import ribbon.scss; */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
@font-face {
  font-family: 'LeagueGothic';
  src: url("../fonts/league_gothic-webfont.eot");
  src: url("../fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/league_gothic-webfont.woff") format("woff"), url("../fonts/league_gothic-webfont.ttf") format("truetype"), url("../fonts/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url("../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.eot");
  src: url("../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.woff") format("woff"), url("../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.ttf") format("truetype"), url("../fonts/museoslab_500_macroman/Museo_Slab_500-webfont.svg#MuseoSlab500") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts55f-webfont.eot");
  src: url("../fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts55f-webfont.woff") format("woff"), url("../fonts/pts55f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts56f-webfont.eot");
  src: url("../fonts/pts56f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts56f-webfont.woff") format("woff"), url("../fonts/pts56f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/pts75f-webfont.eot");
  src: url("../fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pts75f-webfont.woff") format("woff"), url("../fonts/pts75f-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}


/* class-participation-list-page-by-student */
.student, .student-select {
    clear: both;
}

.student {
    border: 1px solid;
    width: 200px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 4px;
    padding-top: 2px;
}

#student-name {
    color: #015172;
    font-size: 23px;
}

.cc-primary-button, .row1.cc-primary-button, .row2.cc-primary-button {
    font-size: 14px;
    font-size: 1rem;
    font-weight: 100;
    padding: 12px 16px;
    padding: .5rem .75rem;
    text-shadow: 1px 1px 1px #9C832B;
    border: 1px solid #AF9431;
    background-color: #ce9c29;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3ae34), color-stop(0.4, #e3ae34), to(#bf8f21));
    background-image: -webkit-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -moz-linear-gradient(top, #e3ae34, #e3ae34 44%, #bf8f21 100%);
    background-image: -ms-linear-gradient(top, #e3ae34, #ecae1f 44%, #bf8f21 100%);
    background-image: -o-linear-gradient(top, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
    background-image: linear-gradient(top, #e3ae34 0%, #e3ae34 44%, #bf8f21 100%);
    border-left: none;
    width: 100px;
    height: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.left-right-buttons {
    padding-top: 14px;
}


@media only screen
and (max-device-width : 667px)
and (orientation : portrait)
{
    .fake-data-table.student-display .discussion-name {
        width: 50%;
        padding-left: 5px;
    }
}